* {
    box-sizing: border-box;
    margin:0; 
    padding:0
  }
  
  .column {
    float: left;
    height: 100vh; 
  }
  
  .left, .right {
    width: 25vw;
  }
  
  .middle {
    width: 50vw;
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;
    flex-wrap: wrap;
  }


  .mid_container1{
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 22px;

  }

  .mid_top{
    width: 75%;
    height: 80px;
    background-color: #eef1f6;
    border-radius: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
  }



  .mid_chat_content{
    padding: 10px 14px;
  }

  .mid_chat_box_left{
    width: 300px;
    border-radius: 25px;
    background-color: #eef1f6;
    color: #407678;
    padding: 12px;
    margin-top: 10px;
  }

  .mid_chat_box_right{
    width: 300px;
    border-radius: 25px;
    background-color:#407678;
    margin-left: auto;
    color: #eef1f6;
    padding: 12px;
    margin-top: 10px;
  }

  .msg_box{
    display: flex;
  }

  .msg_box input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eef1f6;
    border: 2px solid #407678;
  }


  .icons_send{
    border: 2px solid #407678;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    margin: 0px 8px;
    background-color: #eef1f6;
  }

  .contacts_head{
    margin-top: 38px;
    margin-left: 20px;
  }

  .contacts_list {
    height: 80%;
    width: 100%;
    margin: 15px auto;
    overflow-y: scroll; /* Only show vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  
    /* Scrollbar Styles */
    scrollbar-width: thin;
    scrollbar-color: #ddd #333
  }
  .mid_chats{
    height: 67%;
    width: 100%;
    margin: 15px auto;
    overflow-y: scroll; 
    overflow-x: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
  }

  /* Webkit Scrollbar Styles */
  .mid_chats::-webkit-scrollbar {
    width: 6px;
  }
  
  .mid_chats::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .mid_chats::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; 
  }
   .contacts_list::-webkit-scrollbar {
    width: 6px;
  }
  
  .contacts_list::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .contacts_list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; 
  }
  