* {
    box-sizing: border-box;
    margin:0; 
    padding:0
  }
  
  .column {
    float: left;
    height: 100vh; 
  }
  
  .left, .right {
    width: 25vw;
    
  }
  
  .middle {
    width: 50vw;
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;
    flex-wrap: wrap;
  }


  .mid_container1{
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 22px;

  }

  .mid_top{
    width: 75%;
    height: 80px;
    background-color: #eef1f6;
    border-radius: 18px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
  }



  .mid_chat_content{
    padding: 10px 14px;
  }

  .mid_chat_box_left{
    width: 300px;
    border-radius: 0px 15px 15px 15px;
    background-color: #eef1f6;
    color: #407678;
    padding: 12px;
    margin-top: 10px;
  }

  .mid_chat_box_right{
    width: 300px;
    border-radius: 15px 0px 15px 15px;
    background-color:#407678;
    margin-left: auto;
    color: #eef1f6;
    padding: 12px;
    margin-top: 10px;
  }

  .msg_box{
    display: flex;
  }

  .msg_box input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eef1f6;
    border: 2px solid #407678;
    margin-left: 25px;
  }


  .icons_send{
    border: 2px solid #407678;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    margin: 0px 25px;
    background-color: #eef1f6;
  }

  .contacts_head{
    margin-top: 10px;
    margin-left: 20px;
  }

  .contacts_header{
    float: right;
    margin-top: 15px;
  }

  .contacts_header button{
    width: 100px;
    border: 1px solid #fcbc58;
    padding: 5px;
   background-color: #f57c51;
   font-weight: 900;
   color: #f6f8e2;
   border-radius: 20px;
  }

  .contacts_header button:hover{
    width: 100px;
    padding: 5px;
    border: 1px solid #fcbc58;
   background-color: #f6f8e2;
   font-weight: 900;
   color: #f57c51;
   border-radius: 20px;
  }

  .contacts_list {
    height: 80%;
    width: 75%;
    margin: 15px auto;
    overflow-y: scroll; 
    overflow-x: hidden; 
  
  }
  .mid_chats{
    height: 67%;
    width: 100%;
    margin: 15px auto;
    overflow-y: scroll; 
    overflow-x: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
  }

  .messages-container {
    height: 69vh; /* Set a fixed height for the container */
    overflow-y: scroll; /* Add vertical scroll */
  }
  